
# ---- @@name@@ (scaffolded by `tbd new service`) ----
@@NAME@@_LISTEN_ADDR=127.0.0.1:@@port@@
@@NAME@@_METRICS_ADDR=127.0.0.1:@@metrics_port@@
# @@NAME@@_CONFIG_DIR=configs/@@name@@
# CHAOS_@@NAME@@_URL=http://127.0.0.1:@@port@@   # chaos validate target for the @@name@@ kind
